.navbar {
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    padding-left: 10%;
    height: 50px;
    background-color: #333333;
}

.navbar--links {
    width: 300px;
}

.navbar--links>a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin: 20px;
}