#portfolio {
    background: #ebeeee;
    margin-top: 100px;
    padding-top: 50px;
}

.portfolio--title {
    font-size: 1.05rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 48px;
    color: #95A3A3;
}


.carousel {
    height: 570px;
    margin-inline: 10%
}

.slide img {
    width: 100%;
    margin: 0 auto;
}

.slide {
    transform: scale(0.2);
    transition: all 400ms cubic-bezier(.23, 1, 0.32, 1);
    opacity: 0.5;
    margin-top: 50px;
}

.activeSlide {
    transform: scale(1.0);
    opacity: 1;
}

.activeSlide:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    margin-top: 40px;
}

.arrow {
    position: absolute;
    cursor: pointer;
    z-index: 1;
}

.arrow svg {
    transition: color 300ms;
}

.arrow svg:hover {
    color: #68edff;
}

.next {
    right: 0%;
    top: 50%;
}

.prev {
    left: 0%;
    top: 50%;
}

@media (max-width: 45em) {
    .carousel {
        margin-inline: 10px;
    }
}